:root {
    --cor-fundo: #0f1014;
    --cor-texto: #ffffff;
    --cor-destaque: #0063e5;
}

body {
    margin: 0;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: Arial, sans-serif;
}

header {
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

nav form {
    display: flex;
    align-items: center;
    gap: 5px;
}

nav input {
    width: 265px;
    padding: 8px;
    background-color: #1f2026;
    color: var(--cor-texto);
    border: 1px solid #ffffff;
    border-radius: 5px;
}

nav form button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #1f2026;
    color: var(--cor-texto);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: var(--cor-texto);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.banner {
    margin-top: 20px;
}

.banner img {
    width: 100%;
    border-radius: 20px;
}

.banner-conteudo {
    padding: 0;
}

.banner-conteudo h2 {
    margin-bottom: 5px;
}

.banner-conteudo p {
    margin: 8px 0;
}

.banner button {
    background-color: var(--cor-destaque);
    color: var(--cor-texto);
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
}

.lista-filmes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lista-filmes img {
    width: 100%;
    border-radius: 10px;
}

.lista-filmes article {
    background-color: #15171d;
    border-radius: 10px;
    padding: 10px;
}

.info-filme h3 {
    margin-top: 2px;
    margin-bottom: 5px;
}

.info-filme p {
    margin: 0;
}

.lista-categorias {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 0;
}

.lista-categorias li {
    background-color: #1c1e26;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
}

.recomendados {
    margin-top: 40px;
}

.recomendados h2 {
    margin-bottom: 25px;
}

@media (min-width: 768px) {

    nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .lista-filmes {
        flex-direction: row;
    }

    .lista-categorias {
        flex-direction: row;
    }
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}